@media (prefers-color-scheme: light) {
  :root {
    --color-text: #000000;
    --color-background: #FCC800;

    color: #213547;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #FCC800;
    --color-background: #212121;

    color: #213547;
    background-color: #ffffff;
  }
}

:root {
  font-family: 'Ubuntu', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  font-size: 1.6rem;
}
